<!DOCTYPE html>
<html lang="en">

<head>
    %_head%
    <link ref="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="https://pagecdn.io/lib/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/picnic">
</head>

<body>
    %page_content%


    <script type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/ace.js"></script>
    <script async type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/theme-clouds.js"></script>
    <script async type="text/javascript" src="https://cdn.jsdelivr.net/ace/1.2.3/noconflict/mode-javascript.js"></script>

    <script src="/vendors.app.js"></script>
    <script src="/main.app.js"></script>
    <script src="/app.js"></script>
</body>

</html>